@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #dcbc7f; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #dcbc7f;
  }
}

@layer base {
  @font-face {
    font-family: 'Playfair';        
    src: url('../fonts/PlayfairDisplay.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
